
<div class="launched">
  <span class="date"><%= human_datetime(organisation.launch_date) %></span>
</div>

<div class="summary">
  <span class="number"><%= organisation.sites_count %></span> <%= plural(organisation.sites_count, "site") %>
  <span class="number"><%= organisation.hosts_count %></span> <%= plural(organisation.hosts_count, "host") %>
</div>

<div class="mappings">
  <span class="number"><%= number_with_delimiter(organisation.mappings_count) %></span> <%= plural(organisation.mappings_count, "mapping") %>
</div>

<div class="data-date">
  <span class="date"><%= human_datetime(organisation.most_recent_total_on_date) %></span>
</div>

<table class="aggregate" border="0" cellpadding="0" cellspacing="0">
  <tbody>
<% max = organisation.max_total_for_http_status_category %>
<% for_each_http_status_category do |http_status_category| %>
  <% count = organisation.totals_by_http_status_category[http_status_category]
     percentage = (max == 0) ? 0 : (100 * count / max) %>
    <tr>
      <td class="name">
        <div class="cont">
          <div style="width: <%= percentage %>%;" class="<%= http_status_category %>"></div>
          <span><%= http_status_category %></span>
        </div>
      </td>
      <td class="num"><%= number_with_delimiter(count, :delimiter => ',') %></td>
    </tr>
<% end %>
  </tbody>
</table>