<%
@sites_count = organisation.sites_count

@hosts_count = organisation.hosts_count

@mappings_count = organisation.mappings_count

%>

<div class="launched">
  <span class="date"><%= human_datetime(organisation.launch_date) %></span>
</div>

<div class="summary">
  <span class="number"><%= @sites_count %></span> <%= plural(@sites_count, "site") %>
  <span class="number"><%= @hosts_count %></span> <%= plural(@hosts_count, "host") %></span>
</div>

<div class="mappings">
  <span class="number"><%= @mappings_count %></span> <%= plural(@mappings_count, "mapping") %></span>
</div>

<table class="aggregate" border="0" cellpadding="0" cellspacing="0">
  <tbody>
<% grouped_by_http_status_totals = grouped_by_http_status_category(organisation.aggregated_totals) %>
<% counts_by_http_status_totals = Hash[grouped_by_http_status_totals.map { |hsc, data| [hsc, data.inject(0) { |sum, x| sum + x.count } ] } ] %>
<% max = counts_by_http_status_totals.values.max || 0 %>
<% for_each_http_status_category do |http_status_category| %>
  <% count = counts_by_http_status_totals[http_status_category]
     percentage = (max == 0) ? 0 : (100 * count / max) %>
    <tr>
      <td class="name">
        <div class="cont">
          <div style="width: <%= percentage %>%;" class="<%= http_status_category %>"></div>
          <span><%= http_status_category %></span>
        </div>
      </td>
      <td class="num"><%= number_with_delimiter(count, :delimiter => ',') %></td>
    </tr>
<% end %>
  </tbody>
</table>