
<% if local_assigns[:full_meta_data] %>
  <div class="launched">
    <span class="date"><%= human_datetime(organisation.launch_date) %></span>
  </div>

  <div class="summary">
    <span class="number"><%= organisation.sites_count %></span> <%= plural(organisation.sites_count, "site") %>
    <span class="number"><%= organisation.hosts_count %></span> <%= plural(organisation.hosts_count, "host") %>
  </div>

  <div class="mappings">
    <span class="number"><%= number_with_delimiter(organisation.mappings_count) %></span> <%= plural(organisation.mappings_count, "mapping") %>
  </div>

  <div class="data-date">
    <span class="date"><%= human_datetime(organisation.most_recent_total_on_date) %></span>
  </div>
<% end %>

<%= render 'dashboard/totals', organisation: organisation %>