<div class="urls">
  <table>
    <tbody>
      <% @urls.each do |url| %>
        <%= content_tag :tr, class: "#{url.state}#{@url == url ? ' selected' : nil}" do %>
          <td><%= check_box_tag "url_select[#{url.id}]", '1', (url == @url or params["url_select"].try(:[], url.id.to_s)), disabled: url == @url %></td>
          <td class="url"><%= link_to_if url != @url, url.request_uri, site_url_path(@site, url, url_filter_hash), title: url.url %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
  GOVUK.Urls.ready();
  <% if @url %>
    $(function() {
      <% url_pos_in_list = @urls.index(@url) 
      if url_pos_in_list > 3 %>
        $('.urls').scrollTop(
          $('.urls tbody tr:nth-child(<%= url_pos_in_list - 3 %>)').position().top - $('.urls').position().top
        );
      <% end %>
    });
  <% end %>
<% end %>