<table class="table table-bordered table-striped scrapable">
  <thead>
    <tr>
      <th>Url</th>
      <th>Content type</th>
      <th>Grouping</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <% @site.urls.for_scraping.order_for_scrape.each do |url| %>
      <tr class="<%= url.scrape_finished ? 'finished' : nil %>">
        <td><%= link_to url.request_uri, calculate_scrape_result_path(url), title: url.url %></td>
        <td><%= url.content_type.try(:to_s) %></td>
        <td><%= url.url_group.try(:name) %></td>
        <td><%= url.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>
