<div class="controls">
  <%= render partial: 'url_list', locals: { extra_class: 'pane' } %>

  <%= form_for :url, url: site_url_path(@url.site, @url), method: 'PUT' do |f| %>
    <div class="inputs-block">
      &nbsp;
    </div>
    <div class="inputs-block comments">
      <%= f.text_area :comments, placeholder: 'Comments...' %>
    </div>
    <div class="inputs-block">
      <%= text_field_tag :new_url, @url.new_url %>
    </div>
    <div class="inputs-block">
      <ul class="destinies">
        <li><%= destiny_button @url, :manual %></li>
        <li><%= destiny_button @url, :scrape %></li>
        <li><%= destiny_button @url, :archive %></li>
        <li><%= destiny_button @url, :unsure %></li>
      </ul>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function() {
    $('.urls').scrollTop($('.urls li:nth-child(<%= [@site.urls.index(@url) - 3, 1].max %>)').position().top - $('.urls').position().top);
  });
<% end %>

<iframe src="<%= @url.url %>" class="preview" />
