<div class="controls">
  <%= render partial: 'url_list' %>

  <%= form_for :url, url: site_url_path(@url.site, @url), method: 'PUT', html: { id: 'url_form' } do |f| %>
    <div class="inputs-block">
      <%= f.select :content_type_id, grouped_options_for_content_type_select(@url), { include_blank: true }, 
                              class: 'select2', placeholder: 'Content type' %>
      <%= f.select :url_group_id, grouped_options_for_url_group_select(@url), { include_blank: true }, 
                   class: 'select2', placeholder: "Groupings" %>
      <%= f.select :user_need_id, grouped_options_for_user_needs_group_select(@url), { include_blank: true }, 
                   class: 'select2', placeholder: 'User need' %>
    </div>
    <div class="inputs-block comments">
      <%= f.text_area :comments, placeholder: 'Comments...' %>
    </div>
    <div class="inputs-block column-3">
      <div class="scrape">
        Scrape:
        <%= f.label :is_scrape_true do %>
          <%= f.radio_button(:is_scrape, true) %>
          Yes
        <% end -%>
        <%= f.label :is_scrape_false do %>
          <%= f.radio_button(:is_scrape, false) %>
          No
        <% end -%>
      </div>
      <div class="redirect-url">
        <%= label_tag :new_url, 'Redirect url:' %>
        <%= text_field_tag :new_url, @url.new_url, placeholder: 'http://' %>
      </div>
    </div>
    <div class="inputs-block">
      <ul class="destinies">
        <li><%= button_tag 'Save as final', name: 'destiny', value: 'finished', class: "#{@url.state == :finished ? 'selected ' : ''}finished" %></li>
        <li><%= button_tag 'Save for review later', name: 'destiny', value: 'unfinished', class: "#{@url.state == :unfinished ? 'selected ' : ''}unfinished" %></li>
        <li><%= link_to 'Cancel', site_urls_path(@url.site), class: 'cancel button' %></li>
      </ul>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
    GOVUK.Urls.ready();
    $(function() {
      $('.urls').scrollTop(
        $('.urls li:nth-child(<%= [@site.urls.index(@url) - 3, 1].max %>)')
          .position().top - $('.urls').position().top
      );
    });
<% end %>

<iframe src="<%= @url.url %>" class="preview"></iframe>
