<div class="controls">
  <%= render 'url_list' %>

  <%= form_for :url, url: site_url_path(@url.site, @url), method: 'PUT' do %>
    <ul class="destinies pane">
      <li><%= destiny_button :manual %><%= text_field_tag :new_url, @url.new_url %></li>
      <li><%= destiny_button :scrape %></li>
      <li><%= destiny_button :archive %></li>
    </ul>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function() {
    $('.urls').scrollTop($('.urls li:nth-child(<%= [@site.urls.index(@url) - 6, 1].max %>)').position().top - $('.urls').position().top);
  });
<% end %>

<iframe src="<%= @url.url %>" class="preview" />
