<%= content_tag_for :div, organisation do %>
  <h3 id="<%= organisation.abbr %>"><%= organisation.title %></h3>

  <p class="launch-date"><strong>Launch date:</strong> <%= organisation.launch_date.to_s(:long_ordinal) %></p>

  <ul class="inline">
    <li><%= link_to "View requests", page_path(organisation) %></li>
    <li><%= link_to "View organisation details", organisation_path(organisation) %></li>
  </ul>
<% end %>
