<%= content_tag_for :div, organisation do %>
  <td><span id="<%= organisation.abbr %>"><%= organisation.title %></span></td>
  <td><%= organisation.launch_date.to_s(:long_ordinal) %></td>
  <td><%= link_to "View requests", page_path(organisation) %></td>
  <td><%= link_to "View organisation details", organisation_path(organisation) %></td>
<% end %>
