<p id="notice"><%= notice %></p>
<section id="details">
  <h1 id="<%= @organisation.abbr %>" class="organisation <%= @organisation.css || "" %>"><%= link_to content_tag(:span, @organisation.title), @organisation %></h1>

  <p>
    <b>Abbreviation:</b>
    <%= @organisation.abbr %>
  </p>

  <p>
    <b>Launch date:</b>
    <%= @organisation.launch_date %>
  </p>

  <p>
    <b>Homepage:</b>
    <%= @organisation.homepage %>
  </p>

  <p>
    <b>FURL:</b>
    <%= @organisation.furl %>
  </p>
</section>

<section class="dashboard">
  <%= render 'dashboard/organisation', organisation_date: OrganisationData.new(@organisation) %>
</section>

<section class="sites">
  <h1>Sites</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Site</th>
        <th>Homepage</th>
        <th>Query params</th>
        <th>TNA timestamp</th>
      </tr>
    </thead>

    <tbody>
      <% @organisation.sites.each do |site| %>
        <tr>
          <td><%= link_to site.site, site %></td>
          <td><%= link_to site.homepage, site.homepage %></td>
          <td><%= site.query_params %></td>
          <td><%= site.tna_timestamp %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
