<div class="block">
  <div class="inner-block">
    <div class="organisation-logo">
      <h1 class="organisation<%= " #{@organisation.css}" if @organisation.css.present? %>">
        <span><%= @organisation.title %></span>
      </h1>
    </div>

    <p class="requests-link"><%= link_to "View organisation requests", page_path(@organisation) %></p>

    <dl class="org-info">
      <dt>Launch date:</dt>
      <dd><%= @organisation.launch_date.to_s(:long_ordinal) %></dd>
      <dt>Homepage:</dt>
      <dd><%= link_to @organisation.homepage %></dd>
      <dt>FURL:</dt>
      <dd><%= link_to @organisation.furl, 'http://'+@organisation.furl %></dd>
      <dt>Progress:</dt>
      <dd>
        <table>
        <% %w{new manual archived redirected}.each do |state| %>
          <tr>
            <td><%= state %></td>
            <td><%= @counts[state] || 0 %></td>
            <td><%= "%.1f" % ((@counts[state] || 0) * 100.0 / @total_urls.to_f) %>%</td>
          </tr>
        <% end %>
        </table>


      </dd>
    </dl>

    <h2>Sites</h2>

    <% @organisation.sites.each do |site| %>
      <%= content_tag_for :div, site do %>
        <h3><%= site.site %></h3>
        <div class="site-links">
          <ul>
            <li><%= link_to "View #{site.site} requests", page_path(@organisation, site: site.id) %></li>
            <li><%= link_to "View #{site.site} urls", site_urls_path(site_id: site) %></li>
          </ul>
        </div>

        <dl>
          <dt>Homepage:</dt>
          <dd><%= link_to site.homepage %></dd>

          <% unless site.query_params.empty? %>
            <dt>query_params:</dt>
            <dd><%= site.query_params %>
          <% end %>

          <dt>TNA Timestamp</dt>
          <dd><%= site.tna_timestamp %></dd>
        </dl>

        <table>
          <thead>
            <tr>
              <th style="width: 40%;">Host</th>
              <th style="width: 10%;">TTL</th>
              <th style="width: 35%;">CNAME</th>
              <th style="width: 15%;">Live CNAME</th>
            </tr>
          </thead>
          <tbody>
            <% site.hosts.each do |host| %>
              <tr>
                <td><%= host.host %></td>
                <td><%= host.ttl %></td>
                <td><%= host.cname %></td>
                <td><%= host.live_cname %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
