<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :ttl %><br />
    <%= f.number_field :ttl %>
  </div>
  <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>
  <div class="field">
    <%= f.label :live_cname %><br />
    <%= f.text_field :live_cname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
