
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Site</th>
      <th>Host</th>
      <th>TTL</th>
      <th>CNAME</th>
      <th>Live CNAME</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= link_to host.site.site, host.site %></td>
        <td><%= link_to host.host, host %></td>
        <td><%= host.ttl %></td>
        <td><%= host.cname %></td>
        <td><%= host.live_cname %></td>
      </tr>
    <% end %>
  </tbody>
</table>