<p id="notice"><%= notice %></p>
<section id="details">
  <%= render_organisation_title(@organisation) %>

  <p>
    <b>Host:</b>
    <%= @host.host %>
  </p>

  <p>
    <b>Site:</b>
    <%= link_to @host.site.site, @host.site %>
  </p>

  <p>
    <b>TTL:</b>
    <%= @host.ttl %>
  </p>

  <p>
    <b>CNAME:</b>
    <%= @host.cname %>
  </p>

  <p>
    <b>Live CNAME:</b>
    <%= @host.live_cname %>
  </p>

</section>

<%= render 'totals/stacked', total_data: @weekly_totals, host: @host, scope: @host %>

<%= render 'hits/most_recent', hit_data: @most_recent_hit_data, host: @host, scope: @host %>
