<p id="notice"><%= notice %></p>
<section id="details">
  <h1 id="<%= @organisation.abbr %>" class="organisation <%= @organisation.css || "" %>"><%= link_to content_tag(:span, @organisation.title), @organisation %></h1>

  <p>
    <b>Host:</b>
    <%= @host.host %>
  </p>

  <p>
    <b>Site:</b>
    <%= link_to @host.site.site, @host.site %>
  </p>

  <p>
    <b>TTL:</b>
    <%= @host.ttl %>
  </p>

  <p>
    <b>CNAME:</b>
    <%= @host.cname %>
  </p>

  <p>
    <b>Live CNAME:</b>
    <%= @host.live_cname %>
  </p>

  <p class="actions">
    <%= link_to 'Edit', edit_host_path(@host) %> |
    <%= link_to 'Back', hosts_path %>
  </p>
</section>

<%= render 'totals/stacked', total_data: @totals, host: @host, scope: @host %>

<%= render 'totals/stacked_new', total_data: @totals, host: @host, scope: @host %>

<%= render 'hits/most_recent', hit_data: @most_recent_hit_data, host: @host, scope: @host %>
