<h1>Import Urls</h1>

<%= content_tag :pre do %>
<%= @import_log %>
<% end if @import_log.present? %>

<%= form_tag admin_import_urls_path, multipart: true do %>
  <%= label_tag :site_id %>
  <%= select_tag :site_id, option_groups_from_collection_for_select(@organisations, :sites, :title, :id, :site, params[:site_id]), include_blank: true %>

  <label for="file">CSV file to Upload</label> <%= file_field_tag 'file', accept: 'text/csv' %>

  <div>
    <%= submit_tag 'Upload' %>
  </div>
<% end %>