<h1>Import Urls</h1>

<div class="span6">
  <%= content_tag :pre do %>
  <%= @import_log %>
  <% end if @import_log.present? %>

  <%= form_tag admin_import_urls_path, multipart: true do %>
    <fieldset>
      <div class="sites-list">
        <%= label_tag :site_id %>
        <%= select_tag :site_id, option_groups_from_collection_for_select(@organisations, :sites, :title, :id, :site, params[:site_id]), 
                       include_blank: true, class: 'select2 site-select' %>
      </div>

      <label for="file">CSV file to Upload</label> <%= file_field_tag 'file', accept: 'text/csv' %>

      <hr>

      <%= submit_tag 'Upload', class: 'btn btn-success' %>
    </fieldset>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(function() { $(".select2").select2(); });
<% end %>

<% content_for :page_title do %>
  Import URLs
<% end %>