<div class="block">
  <div class="inner-block">
    <%= form_for @mapping, url: polymorphic_path([@site, @mapping]) do |f| %>
        <%= render "shared/error_messages", target: f.object %>
        <div>
          <%= f.label :path %>
          <%= f.text_field :path, class: 'url' %>
        </div>
        <div>
          <%= f.label :new_url %>
          <%= f.text_field :new_url, class: 'url' %>
        </div>
        <div>
          <%= f.label :suggested_url %>
          <%= f.text_field :suggested_url, class: 'url' %>
        </div>
        <div>
          <%= f.label :archive_url %>
          <%= f.text_field :archive_url, class: 'url' %>
        </div>
        <div>
          <%= f.label :http_status %>
          <%= f.select :http_status, ['301', '410'] %>
        </div>
        <%= f.submit 'Save' %>
    <% end %>
  </div>
</div>