<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Site</th>
      <th>Homepage</th>
      <th>Query params</th>
      <th>TNA timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><% if site.organisation %>
          <%= link_to site.organisation.abbr, site.organisation %>
          <% else %>
            No organisation!
          <% end %>
        </td>
        <td><%= link_to site.site, site %></td>
        <td><%= link_to site.homepage, site.homepage %></td>
        <td><%= site.query_params %></td>
        <td><%= site.tna_timestamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>