<div>
  <ul class="urls scrape">
    <% @site.urls.for_scraping.for_type(params[:type]).in_scraping_order.each do |url| %>
       <%= content_tag :li, class: "#{@url == url ? ' selected' : nil}#{url.scrape_finished ? ' finished' : nil}" do %>
        <% link_text = "#{url.request_uri} - #{url.content_type.try(:to_s)}#{url.url_group ? ' - ' + url.url_group.name : ''}" %>
        <%= link_to_if url != @url, link_text, calculate_scrape_result_path(url), title: url.url %> 
      <% end %>
    <% end %>
  </ul>

  <% if @url %>
    <p>Comments: <%= @url.comments %></p>

    <%= javascript_tag do %>
        $(function() {
          $('.urls').scrollTop(
            $('.urls li:nth-child(<%= [@site.urls.for_scraping.for_type(params[:type]).in_scraping_order.index(@url) - 3, 1].max %>)')
              .position().top - $('.urls').position().top
          );
        });
    <% end %>
  <% end %>
</div>
